
.page-body {
    padding: 20px;   
}
#introduction {
    background: #fff; 
    border-radius: 10px;
    padding: 10px;
}
#introduction p{
    font-size: 15px;
    text-align: justify;
    margin: 15px 2px;
}
#introduction button{
  font-size: 15px;
  font-weight: 700;
  border: 3px solid #337AB7;
  padding: 10px 36px !important;
  margin: 5px 15px;
}

/* Features */
#features {
    background: #fff; 
    border-radius: 10px;
    padding: 45px 15px;
}

.feature-1 h3 {
  font-size: 26px;
  font-weight: 600;
  color: #337AB7;
}
.feature-1 h2 {
  font-size: 18px;
  color: #6C757D;
  font-weight: 500;
}

.feature-1 button {
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  color:#337AB7;
  border: 3px solid #337AB7;
}

.feature-1 button:hover {
  background-color:#337AB7;
  color: white;
}
.vertical-divider {
border-right: 1px solid #ECF0F2;
top:20%;
bottom: 20%;
}

@media only screen and (max-width: 600px) {
    #features [class*="col-"]{
        padding: 20px 20px;
    }
    .vertical-divider {
        border-right: 0;

    }

}

/* Exams */

#exams-section {
    background: #fff; 
    border-radius: 10px;
}

#exams-section .column {
  float: left;
  width: 32%;
  padding: 0 10px;
}

#exams-section .row {margin: 20px -5px;}

#exams-section .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  #exams-section .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
    #exams-section h3 {
     text-align: center
  }
}

#exams-section .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  background-color: #fff;
}

/* Subjects */

#subject-section {
    background: #fff; 
    border-radius: 10px;
    padding: 25px;
}

#subject-section .column {
  float: left;
  width: 32%;
  padding: 0 10px;
}

#subject-section .row {
    margin: 20px -5px;
}

#subject-section .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  #subject-section .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
   
}

#subject-section .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  background-color: #fff;
}















